.DS_Store
node-middleware/.env
node-middleware/node_modules
node-middleware/logs/*
php-middleware/.env
php-middleware/conn.php
swift/sample-project
android/.idea
android/.gradle/*
android/.gradle/5.4.1/executionHistory/executionHistory.bin
android/.gradle/5.4.1/executionHistory/executionHistory.lock
android/.gradle/5.4.1/fileHashes/fileHashes.bin
android/.gradle/5.4.1/fileHashes/fileHashes.lock
android/.gradle/5.4.1/fileHashes/resourceHashesCache.bin
android/.gradle/5.4.1/javaCompile/classAnalysis.bin
android/.gradle/5.4.1/javaCompile/javaCompile.lock
android/.gradle/5.4.1/javaCompile/taskHistory.bin
android/.gradle/buildOutputCleanup/buildOutputCleanup.lock
android/.gradle/buildOutputCleanup/outputFiles.bin
android/.idea/vcs.xml
android/.idea/workspace.xml
